interface remote_bitbang
remote_bitbang_port 9999
remote_bitbang_host 127.0.0.1

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0xabcde6e3
#jtag newtap auto0      tap -irlen 5 -expected-id 0xabcde6e3

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME
$_TARGETNAME configure -work-area-phys 0x80000000 -work-area-size 10000 -work-area-backup 1
scan_chain

# drscan tap_name [num_bits value]* ['-endstate' state_name]
#        Execute Data Register (DR) scan for one TAP.  Other TAPs must be in
#        BYPASS mode.
# irscan [tap_name instruction]* ['-endstate' state_name]
#
# Clear APB timer errors
# irscan riscv.cpu 16
# drscan riscv.cpu 32 0xffff0000
#
# Read APB timer
# irscan riscv.cpu 17
# drscan riscv.cpu 50 0x1
# irscan riscv.cpu 17
# drscan riscv.cpu 50 0x0
proc apb_read_timer { } {
 irscan riscv.cpu 17
 drscan riscv.cpu 50 0x1
 irscan riscv.cpu 17
 drscan riscv.cpu 50 0x0
}
